@model MvcMovie.Models.HelloName
<body>
	<form method="post" asp-action="Hello">
	<h2 itemid="123">Введіть своє ім'я</h2>
	<p><input asp-for="Name" maxlength="25" size="40" value="name" name="name"></p>
	<input  type="submit" name="button" value="Ok"/></form>
</body>
